<% layout("/layouts/boilerplate")%>
<body>
  <h1 class="mb-4 mt-4 text-center head-color">Edit your Listing</h1>
  <div class="row">
    <div class="col-8 offset-2">
      <form
        method="POST"
        action="/listings/<%= listing._id%>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label fw-bold">Title</label>
          <input
            type="text"
            name="listing[title]"
            value="<%= listing.title %>"
            class="form-control border-rand"
            required
          />
          <div class="invalid-feedback">Enter the title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label fw-bold"
            >Description</label
          >
          <textarea
            name="listing[description]"
            cols="30"
            rows="10"
            class="form-control border-rand"
            required
          >
<%= listing.description %></textarea
          >
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <h6 class="fw-bold">Original Listing Image</h6>
          <img src="<%= originalImageurl %>" alt="" width="200px" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label fw-bold">Upload New Image</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control border-rand"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label fw-bold">Price</label>
            <input
              type="text"
              name="listing[price]"
              value="<%= listing.price %>"
              class="form-control border-rand"
              required
            />
            <div class="invalid-feedback">Please enter a valid Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label fw-bold">Country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%= listing.country %>"
              class="form-control border-rand"
              required
            />
            <div class="invalid-feedback">Please enter the country name</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label fw-bold">Location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            class="form-control border-rand"
            required
          />
          <div class="invalid-feedback">Please enter the location name</div>
        </div>

        <button class="btn btn-dark mb-5 mt-3 add-btn fw-bold shadow">
          Edit
        </button>
      </form>
    </div>
  </div>
</body>
